.footer {
	padding: 15px;
	&-main {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&-text {
		width: 380px;
		font-family: 'Raleway';
		font-weight: 400;
		font-size: 1.125rem;
		color: #808080;
		text-align: center;
		margin-bottom: 0;
	}
}
.footer {
	background: #2C3154;
}
.footer-link {
	color: #FFFFFF;
	text-decoration: none;
	&:hover {
		content: '';
		color: coral;
	}
}