.lastsection {
	background: #353C65;
	padding: 50px;
}
.lastsection-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;
	margin: 0 -15px;
}
.location {
	display: inline-block;
	width: 370px;
	&-text {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'Raleway';
		font-weight: 700;
		font-size: 1.125rem;
		color: #FFFFFF;
		text-transform: uppercase;
		margin-bottom: 29px;
	}
	&-adress {
		font-family: 'Raleway';
		font-weight: 400;
		font-size: 1.125rem;
		display: flex;
		align-items: center;
		justify-content: center;
		text-transform: capitalize;
		color: #FFFFFF;
	}
}
.share {
	display: inline-block;
	width: 300px;
	&-text {
		font-family: 'Raleway';
		font-weight: 700;
		font-size: 1.125rem;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-bottom: 48px;
	}
	&-list {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		&-item {
			margin-right: 26px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
.about {
	display: inline-block;
	width: 370px;
	&-head {
		font-family: 'Raleway';
		font-weight: 700;
		font-size: 1.125rem;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-bottom: 29px;
	}
	&-text {
		font-family: 'Raleway';
		font-weight: 400;
		font-size: 1.125rem;
		text-align: center;
		color: #FFFFFF;
	}
}

