.info {
	&-wrap {
		margin: 0 -15px;
	}
	&-title {
		text-align: center;
		font-family: 'Raleway';
		font-weight: 500;
		font-size: 30px;
		margin-top: 132px;
	}
	&-text {
		text-align: center;
		display: block;
		font-family: 'Raleway';
		font-weight: 700;
		font-size: 18px;
		text-transform: uppercase;
		margin-top: 23px;
	}
	&-button {
		display: flex;
		justify-content: center;
		margin-top: 48px;
	}
}