.section-teams-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	
}
.person {
	width: 270px;
	margin: 0 15px 15px 0;
	&-img {
		width: 270px;
		height: 270px;
		object-fit: cover;
		margin-bottom: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&-photo {
		width: 100%;
	}
	.person-content {
		&-name {
			font-family: 'Raleway';
			font-weight: 700;
			font-size: 1.5rem;
			color: #2D3033;
			margin-bottom: 6px;
		}
		&-job {
			font-family: 'Raleway';
			font-weight: 400;
			color: #FF4343;
			text-transform: uppercase;
			font-size: 1.125rem;
		}
		&-opinion {
			font-family: 'Raleway';
			font-weight: 400;
			font-size: 1.125rem;
			color: #6C7279;
		}
		&-op {
			margin-top: 18px;
			margin-bottom: 38px;
		}
	}
}
.social-icons {
	display: flex;
}
